<!DOCTYPE HTML>
<html lang="en-nz">
<head>
	<title>Hydra!</title>
	<link rel="icon" type="image/png" href="img/hydra_favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="Stylesheet" href="css/bootstrap.css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="project.html">Hydra Project</a></li>
					<li><a href="books.html">Books <span class="badge">12</span> </a></li>
					<li><a href="authors.html" class="active">Authors</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Nolan
						<span class="badge">1</span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Messages <span class="badge badge-info">1 New</span></a></li>
							<li class="divider"></li>
							<li><a href="#">My Books</a></li>
							<li><a href="#">My Chapters</a></li>
							<li class="divider"></li>
							<li><a href="#">Favorite books</a></li>
							<li><a href="#">Favorite Authors</a></li>
							<li class="divider"></li>
							<li><a href="#">Account</a></li>
							<li><a class="#">Logout</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-search pull-right" action="#" method="post">
				<input type="text" class="search-query" placeholder="Search for Books and Authors" />
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>
				Authors <small></small></h1>
		</div>
	</div>
	<div class="container">
		<h2>This Week's most Prolific Writers</h2>
		
		<div class="container">
			
			<div class="row">
				<div class="span5 well well-small">
					<div class="row">
						<div class="span2">
							<ul class="thumbnails">
								<li class="span2">
									<div class="thumbnail">
										<img src="img/example_avatar.jpg" />
									</div>
								</li>
							</ul>
						</div>
						<div class="span3">
							<h4><a href="profile.html">Nolan</a> <span class="label">+203</span> <span class="label label-inverse">Admin</span></h4> 
							<blockquote>And so they saw the thing he had become...</blockquote>
							65 Contributions this week
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<span class="label label-success">Prolific Writer</span> <span class="label label-info">Hundred Club</span>
						</div>
					
					</div>


				</div>

				<div class="span5 well well-small">
					<div class="row">
						<div class="span2">
							<ul class="thumbnails">
								<li class="span2">
									<div class="thumbnail">
										<img src="img/example_avatar.jpg" />
									</div>
								</li>
							</ul>
						</div>
						<div class="span3">
							<h4><a href="profile.html">Nolan</a> <span class="label">+203</span> <span class="label label-inverse">Admin</span></h4> 
							<blockquote>And so they saw the thing he had become...</blockquote>
							65 Contributions this week
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<span class="label label-success">Prolific Writer</span> <span class="label label-info">Hundred Club</span>
						</div>
					
					</div>


				</div>
			
			</div>

		</div>
	
	</div>
	




</body>
</html>