<!DOCTYPE HTML>
<html lang="en-nz">
<head>
	<title>Hydra!</title>
	<link rel="icon" type="image/png" href="img/hydra_favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="Stylesheet" href="css/bootstrap.css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>

		<div class="navbar navbar-static-top navbar-inverse">
			<div class="navbar-inner">
			<div class="container">
			
				<ul class="nav">
					<li><a href="#" class="active">Home</a></li>
					<li><a href="project.html">Hydra Project</a></li>
					<li><a href="books.html">Books <span class="badge">12</span> </a></li>
					<li><a href="authors.html">Authors</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Nolan <span class="badge">1</span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Messages <span class="badge badge-info">1 New</span></a></li>
							<li class="divider"></li>
							<li><a href="books.html">My Books</a></li>
							<li><a href="#">My Chapters</a></li>
							<li class="divider"></li>
							<li><a href="#">Favorite books</a></li>
							<li><a href="#">Favorite Authors</a></li>
							<li class="divider"></li>
							<li><a href="#">Account</a></li>
							<li><a class="#">Logout</a></li>
						</ul>
					</li>
				</ul>

				<form class="navbar-search pull-right" action="#" method="post">
					<input type="text" class="search-query" placeholder="Search for Books and Authors" />
				</form>		
				</div>
			</div>
		</div>

	<div class="hero-unit container">
		<img src="img/hydra.png" alt="Hydra" class="img-responsive" />
		<h1>
			Hydra
		</h1>
		<p>
			<blockquote>"There lies the Hydra with triple-branching
				crown, lately slain and foul in death: part, embossed in silver, glitters fierce
				with moving snakes, part by a cunning device is sunken, and grows dark in death
				agony against the tawny gold; around, in dark-blue steel runs the torpid stream
				of Lerna."<small>Statius, Thebaid 4. 168 ff</small></blockquote>
		</p>
		<p>
			Hydra is a Collabrative writing project where you contribute to an ever growing
			collection of books, each with an infinite number of possible twists and outcomes.
		</p>
		<a href="project.html" class="btn btn-large btn-primary">Learn More</a>
		<a href="books.html" class="btn btn-large btn-success">Get Started</a>
			
	</div>
</body>
</html>
