<!DOCTYPE HTML>
<html lang="en-nz">
<head>
	<title>Hydra!</title>
	<link rel="icon" type="image/png" href="img/hydra_favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="Stylesheet" href="css/bootstrap.css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="project.html" class="active">Hydra Project</a></li>
					<li><a href="books.html">Books <span class="badge">12</span> </a></li>
					<li><a href="authors.html">Authors</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Nolan
						<span class="badge">1</span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Messages <span class="badge badge-info">1 New</span></a></li>
							<li class="divider"></li>
							<li><a href="#">My Books</a></li>
							<li><a href="#">My Chapters</a></li>
							<li class="divider"></li>
							<li><a href="#">Favorite books</a></li>
							<li><a href="#">Favorite Authors</a></li>
							<li class="divider"></li>
							<li><a href="#">Account</a></li>
							<li><a class="#">Logout</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-search pull-right" action="#" method="post">
				<input type="text" class="search-query" placeholder="Search for Books and Authors" />
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>
				Hydra <small>The Open Source writing project</small>
			</h1>
		</div>
	</div>

	<div class="container well">
		<h4>What is the Hydra Project?</h4>
		<p>
		The Hydra project is an open source, collaborative writing project. We provide the tools to read and write books that have been written by one or more authors.
		</p>
		<h4>How does it work?</h4>
		<p>
		Demo to be made
		</p>
		<h4>How can I participate?</h4>
		<p>
		You can choose to contribute in any way you like. Start a new book, add content to an existing book - even edit existing chapters. Don't like someone else's contribution? Provide an alternative!
		</p>
		<h4>Can I help improve the website?</h4>
		<p>
		You sure can! You can even download and run your own version. Since Hydra is open source, you are free to download, modify and use the code in any way you see fit.
		Link to github
		</p>
	</div>
	


</body>
</html>