<!DOCTYPE HTML>
<html lang="en-nz">
<head>
	<title>Hydra!</title>
	<link rel="icon" type="image/png" href="img/hydra_favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="Stylesheet" href="css/bootstrap.css" media="screen" />
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</head>
<body>
	<div class="navbar navbar-static-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="project.html">Hydra Project</a></li>
					<li><a href="books.html" class="active">Books <span class="badge">12</span> </a></li>
					<li><a href="authors.html">Authors</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Nolan
						<span class="badge">1</span> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Messages <span class="badge badge-info">1 New</span></a></li>
							<li class="divider"></li>
							<li><a href="#">My Books</a></li>
							<li><a href="#">My Chapters</a></li>
							<li class="divider"></li>
							<li><a href="#">Favorite books</a></li>
							<li><a href="#">Favorite Authors</a></li>
							<li class="divider"></li>
							<li><a href="#">Account</a></li>
							<li><a class="#">Logout</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-search pull-right" action="#" method="post">
				<input type="text" class="search-query" placeholder="Search for Books and Authors" />
				</form>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<div class="pull-right">
				<span class="label">+203</span> <a href="profile.html">Nolan</a>  &nbsp;
				<ul class="thumbnails pull-right">
					<li class="span1">
						<a class="thumbnail">
							<img src="img/example_avatar.jpg" />
						</a>
					</li>
				</ul>

			</div>
			<h1>
				The Island <small>Chapter 1</small></h1>
				
		</div>

		<div id="readingPane" class="carousel slide">
			<div class="carousel-inner">
				<div class="active item">
				
					<div class="span10 offset1">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet enim diam. Ut sed odio dui. Aliquam accumsan tincidunt iaculis. Maecenas sit amet quam eu augue tempor lacinia pretium nec nisi. Sed consectetur mi ut tortor facilisis sodales. Aliquam mattis ligula et est sollicitudin, nec semper massa bibendum. Quisque vel dapibus tellus. Mauris est libero, lacinia eu luctus sed, feugiat ut dui. Donec accumsan est eu pellentesque lobortis. Sed lacinia dui magna, ac rhoncus turpis vehicula a. Nunc porta libero nec quam sodales, in tempor nisi ultricies.

Donec lacus eros, feugiat ut massa euismod, sodales viverra erat. Aliquam ut laoreet ligula, at iaculis turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut nec lacinia turpis. Sed rutrum ornare posuere. Nunc non sapien nec elit dapibus rhoncus. Maecenas et pharetra nibh. In hac habitasse platea dictumst. Suspendisse aliquam lorem quis est mattis, vel feugiat dolor adipiscing. Curabitur ac dui mattis, vehicula velit non, pulvinar quam. Aliquam erat volutpat.

Etiam tincidunt pulvinar pharetra. Vivamus sem elit, venenatis eu pharetra vel, varius sit amet odio. Quisque vel suscipit tortor. In fringilla mi ut augue molestie eleifend at nec est. Pellentesque ligula est, elementum ut fermentum ut, sodales et arcu. Maecenas lacinia vel justo sit amet fringilla. Etiam lacinia libero libero, ut lobortis nulla suscipit vitae. Phasellus enim metus, vehicula non magna a, tincidunt consequat eros. In nec pretium massa. Etiam in dolor sed orci sagittis tempor. Maecenas non quam feugiat, convallis nulla eu, fringilla mauris. Integer nec nisl sit amet nunc venenatis convallis.

Etiam imperdiet hendrerit tortor. Suspendisse at auctor lectus. Maecenas lobortis sodales sem nec ultrices. Curabitur a ultrices mi, tincidunt dapibus dolor. Suspendisse consectetur pretium odio vitae laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu orci, blandit vitae pretium vel, vehicula a libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum risus risus, ornare nec sem id, ultricies blandit nisl. Vestibulum quis faucibus arcu. Phasellus fermentum, neque quis vestibulum ornare, quam nisi faucibus massa, ac pellentesque sapien risus ac sapien. Aliquam commodo, mauris id dapibus sollicitudin, lectus enim volutpat tortor, vel pharetra urna dolor ut augue. Sed at aliquam neque. Praesent mattis libero ac tortor iaculis, eget cursus urna aliquet. Fusce non leo lacinia, dictum metus sed, varius odio.

Quisque posuere semper nulla eu porta. Suspendisse vitae mollis leo. Proin scelerisque eu risus in elementum. Integer et ante condimentum, rutrum purus eu, pretium nisi. Donec ante nulla, commodo id justo ac, iaculis fringilla justo. Aenean iaculis magna in nulla condimentum sodales. Sed et elit tellus. Vestibulum fermentum purus purus, at cursus ante dapibus non. 
					</div>
				</div>
				<div class="item">Book contents - Page 2</div>
			</div>
			<a class="carousel-control left" href="#readingPane" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#readingPane" data-slide="next">&rsaquo;</a>
		</div>

	</div>
</body>
</html>